#main-container {
	display: flex;
	flex-direction: column;
}

.header {
	display: flex;
	justify-content: center;
}

.header-title {
	color: #000;
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	position: relative;
	color: #fff;
}

.header-title-visible {
	color: #000;
	transition: 5s ease-in-out;
}

.about-text-container {
	width: 40%;
	margin: auto;
}

.about-text {
	font-size: 20px;
	letter-spacing: 2px;
	margin: 0;
}